[req]
distinguished_name = req_distinguished_name
req_extensions = req_ext

[req_distinguished_name]
countryName                     = Country Name (2 letter code)
countryName_default             = $CA_COUNTRY 
stateOrProvinceName             = State or Province Name (full name)
stateOrProvinceName_default     = $CA_PROVINCE
localityName                    = Locality Name (eg, city)
localityName_default            = $CA_CITY
organizationalUnitName          = Organizational Unit Name (eg, section)
organizationalUnitName_default  = $CA_ORG_NAME
commonName                      = Common Name (eg, your name or your server\'s hostname)
commonName_default              = $CA_SERVER_LOCAL
emailAddress                    = Email Address
emailAddress_default            = $CA_EMAIL

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = $CA_DNS.1
DNS.2 = $CA_DNS.2
